.header{

  height: 30px;
  position: fixed;
  z-index: 12;
  width: 140px;
}

  .wrapper {
    background-color:#380596;

    display: flex;
    justify-content: space-between;


    h1 {
      font-size: 3rem;
      font-weight: 600;
      color: white;

      margin-left: 14px;
      font-family: "Times New Roman", Times, serif;
    }
    ion-button {
      height: 58px;
      width: 58px;

      ion-icon {
        color: white;
        font-size: 4rem;
      }
      i{
        color: white;
      margin-top: 14px;
      }
    }
  }

