ion-content {
  --background: #9788cf8a;
  position: relative;

  .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem;

    ion-button {
      height: 60px;
      width: 60px;

      ion-icon {
        font-size: 2rem;
      }
    }
  }

  .scrolling-wrapper {

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    .card {
      display: inline-block;
      width: 100px;
      height: 100px;



      border-radius: 9px;
      margin-top: 60px;
      margin-left: 6px;
   h2{
    padding-top: 100px;
    padding-left:20px ;
   }
    }
  }
}
