ion-item{
   margin: 9px;
    border-color: #c4b0f0;
   border-radius: 10px;
  --color: rgb(15, 1, 1);
}

ion-button{
  --background: #9d8ea3;
}
.padding{
  margin-top: 90px;

}
.border{

margin-top: 80px;
margin-left: 70px;
}

