

<ion-content  padding class="background" >

  <form #productAddForm="ngForm"   (ngSubmit)="login(productAddForm)"  >
    <div class="form-group">
   <ion-list>
     <h1  style="margin-left: 130px;" > Login</h1>

     <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input #email="ngModel" type="text" [(ngModel)]="model.email"  id="email" name="email" required></ion-input>

    </ion-item>
    <div *ngIf="email.invalid&&email.dirty" class="alert alert-danger" >
      Email gereklidir
    </div>

     <ion-item>
       <ion-label position="floating">Password </ion-label>
       <ion-input #password="ngModel" type="text" [(ngModel)]="model.password" id="password" name="password" required></ion-input>

     </ion-item>
     <div *ngIf="password.invalid&&password.dirty" class="alert alert-danger" >
       Şifre gereklidir
     </div>




   </ion-list>
   <ion-button style="width: 140px; margin-left: 120px;" type="submit" [disabled]="productAddForm.invalid"  expand="block">Giriş
   </ion-button>

   <h6  style="color: rgb(255, 255, 255); margin-left: 30px;"   [routerLink]="['/register']" routerLinkActive="router-link-active"> Kayıt Ol
  </h6>
 </div>

 </form>
</ion-content>
