.card{
  height: 90vh;
 margin: 5px;
  padding: 25px;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.center img{
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  height:100px ;
  width: 100px;
  background-color: ivory;

}
.header{

  --background: black;

}
  .wrapper {

    display: flex;
    justify-content:flex-start;

    h1 {
      font-size: 3rem;
      font-weight: 600;
      color: #050400;
      margin: 7px;
      margin-left: 14px;
      font-family: "Times New Roman", Times, serif;
    }
  }
  ion-content.background{
    --background: url(../../assets/icon/black.jpg) 0 0/100% 100% no-repeat;
}
.icon { zoom: 2.0 }
