<header  style="background-color: #815707;width: 380px;"  >
  <ion-grid  >
    <ion-row>
      <ion-col >

       <div class="wrapper">
         <h1>Favorites</h1>


       </div>


      </ion-col>

    </ion-row>
  </ion-grid>
 </header>
<ion-content>
<ion-grid>
<ion-row>
  <ion-col>
    <div  style="width: 340px;height: 190px; border-radius: 5px;" >
      <ion-card  *ngFor="let item of product">
        <img style="width: 340px;height: 170px; border-radius: 5px;" src="{{item.imageUrl}}" >
   <ion-card-content>
    <ion-card-title>
{{item.name}}
    </ion-card-title>
    <p>
      {{item.yorum}}
    </p>
  </ion-card-content>


  <ion-item>
    <button  (click)="removeItem(item)" class="btn btn-danger"><ion-icon name="trash-outline"></ion-icon></button>
  </ion-item>

</ion-card>
    </div>
  </ion-col>

</ion-row>
</ion-grid>
</ion-content>
