
 <header >

  <ion-toolbar class="header"  >
    <ion-buttons slot="start">
      <ion-button routerLink="/cicek">
        <ion-icon class="icon" slot="icon-only" color='light' name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <p style="font-size:27px;margin-left: 99px;  font-family:Times New Roman, Times, serif;color:rgb(255, 255, 255)  " >Favoriler</p>


  </ion-toolbar>
</header>

<ion-content  padding class="background">
<ion-grid>
<ion-row>
  <ion-col>
    <div  style="width: 340px;height: 190px; border-radius: 5px;" >
      <ion-card  *ngFor="let item of pro">
        <img style="width: 340px;height: 170px; border-radius: 5px;" src="{{item.imageUrl}}" >
   <ion-card-content>
    <ion-card-title>
{{item.name}}
    </ion-card-title>
    <p>
      {{item.yorum}}
    </p>
  </ion-card-content>


  <ion-item>

      <ion-icon (click)="removeItem(item.id)" style="color: darkred;width: 30px;height: 30px; margin-left: 240px;" name="trash-outline">

      </ion-icon>


  </ion-item>

</ion-card>
    </div>
  </ion-col>

</ion-row>
</ion-grid>
</ion-content>
