.card{
  height: 90vh;
 margin: 5px;
  padding: 25px;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.center img{
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  height:100px ;
  width: 100px;
  background-color: ivory;

}
.header{
  height: 30px;
  position: fixed;
  z-index: 12;
  width: 270px;

}
  .wrapper {

    background-color: #815707;
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 3rem;
      font-weight: 600;
      color: #050400;
      margin: 7px;
      margin-left: 14px;
      font-family: "Times New Roman", Times, serif;
    }
  }
