ion-list{
  margin: 9px;
   border-color: #c4b0f0;
  border-radius: 10px;
 --color: rgb(15, 1, 1);
 margin-top: 130px;
 height: 300px;
}


.padding{
 margin-top: 90px;

}
.border{

margin-top: 80px;
margin-left: 70px;
}
.background {
  --background: url(../../assets/icon/black.jpg) 0 0/100% 100% no-repeat;
}
