<ion-content  padding class="background">

  <form #productAddForm="ngForm"   (ngSubmit)="register(productAddForm)" >
    <div class="form-group">
   <ion-list>
    <h1  style="margin-left: 120px;" > Kayıt Ol</h1>
    <ion-item>
      <ion-label position="floating">Kullanıcı Adı</ion-label>
      <ion-input #kullanici="ngModel" type="text" [(ngModel)]="model.kullanici"  id="kullanici" name="kullanici" required></ion-input>

    </ion-item>
    <div *ngIf="kullanici.invalid&&kullanici.dirty" class="alert alert-danger" >
      Kullanıcı Adı Boş Bırakılamaz.
    </div>

     <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input #email="ngModel" type="email" [(ngModel)]="model.email"  id="email" name="email" required></ion-input>

    </ion-item>
    <div *ngIf="email.invalid&&email.dirty" class="alert alert-danger" >
      E-mail Boş Bırakılamaz.
    </div>

     <ion-item>
       <ion-label position="floating">Password </ion-label>
       <ion-input #password="ngModel" type="password" [(ngModel)]="model.password"  minlength="6" id="password" name="password" required></ion-input>

     </ion-item>

     <div *ngIf="password.invalid&&password.dirty " class="alert alert-danger" >
      <div *ngIf="password.errors.minlength " class="alert alert-danger" >
        Şifre En Az 6 Karakterli Olmalı.
      </div>
       Şifre Boş Bırakılamaz.

     </div>




   </ion-list>
   <ion-button style="width: 140px; margin-left: 120px;" [routerLink]="['/login']"   type="submit" [disabled]="productAddForm.invalid"  expand="block">Giriş

   </ion-button>
 </div>

 </form>
</ion-content>
